form#login {
  margin: 0;
}

.diff {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.diff_next, .diff_header {
  padding-left: 20px;
  padding-right: 20px;
}
.diff_add, .policyStatus1 {
  background-color: #eaffea;
}
.diff_chg {
  background-color: #ffefc6
}
.diff_sub, .policyStatus2 {
  background-color: #ffecec;
}
table.highlighttable {
  min-width: 800px;
  width: 100%;
}
td.linenos {
  width: 50px;
}
