html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f8f8f8;
  border-top: solid 1px #e7e7e7;
  padding: 15px 0;
  font-size: .8em;
}

pre {
  border-radius: 0px;
  border: 0px;
  margin: 0px;
  padding: 2px;
  line-height: 125%;
}
form#login {
  margin: 0;
}

.diff {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.diff_next, .diff_header {
  padding-left: 20px;
  padding-right: 20px;
}
.diff_add, .policyStatus1 {
  background-color: #eaffea;
}
.diff_chg {
  background-color: #ffefc6
}
.diff_sub, .policyStatus2 {
  background-color: #ffecec;
}
table.highlighttable {
  min-width: 800px;
  width: 100%;
  border: 1px solid #ccc;
}
td.linenos {
  width: 50px;
  position: relative;
  padding-right: 10px;
  border-right: 1px solid #ccc;
  text-align: right;
}
td.linenos pre {
  color: #aaa;
}
td.linenos .btn.add-diff-comment {
  position: absolute;
  top: -3px;
  right: -14px;
}
td.code {
  padding-left: 12px;
}
